/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* End Reset */

body {
  color: #b5d6e5;
  background: #003046 url('/images/bg.png') top left repeat;
  font-family: 'News Cycle', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 1.25em;
  line-height: 1.25em;
}

a {
  color: #fff;
  text-decoration: none;
}

a:hover, a:active {
  text-decoration: underline;
}

h1, h2, h3, h4, h5, h6 {
  color: #fff;
  font-family: 'News Cycle', 'Helvetica Neue', Helvetica, Arial, sans-serif;
/*  font-weight: bold;*/
}

p {
  margin-bottom: 1.75em;
}

li {
  list-style-type: disc;
  margin-left: 2em;
  margin-bottom: 0.5em;
}

#wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 120px 0;
  -webkit-box-shadow: inset 0 0 30px #000;
  -moz-box-shadow: inset 0 0 140px #000;
  box-shadow: inset 0 0 140px #000;
}

#frame {

}

#header {
/*  padding-bottom: 1em;*/
/*  padding-top: 140px;*/
}

#title, #subtitle {
  margin-left: 40%;
  position: relative;
  top: -14px;
  padding-left: 30px;
/*  left: -85px;*/
}

#title {
  font-size: 5em;
  line-height: 1em;
}

#subtitle {
  top: -10px;
}

#logo {
  position: absolute;
  height: 120px;
  width: 40%;
  overflow: hidden;
  text-indent: -9999em;
  background: #05405c url('/images/logo.png') 90% 55% no-repeat;
  -webkit-border-top-right-radius: 20px;
  -webkit-border-bottom-right-radius: 20px;
  -moz-border-radius-topright: 20px;
  -moz-border-radius-bottomright: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

#logo-inner {
  display: block;
  position: relative;
  top: -200px;
  width: 200%;
  height: 500px;
  -webkit-box-shadow: inset 0 0 30px #000;
  -moz-box-shadow: inset 0 0 140px #000;
  box-shadow: inset 0 0 140px #000;
} 

.block {
  width: 600px;
  margin: 4em auto 4em;
}

.block h2, .block h3 {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 1em;
}

.box {
  background: #002436;
  padding: 2em 5em;
  text-align: center;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
}

.note {
  font-size: 16px;
  font-style: italic;
  line-height: 1.25em;
  margin: 2em 0 0 0;
}

.warning {
  color: #FFFBC6;
  font-style: normal;
  margin-left: -3em;
  margin-right: -3em;
}

.notice {
  font-style: italic;
  color: #FFFBC6;
}

.bookmarklet {
  cursor: move;
  display: inline-block;
  padding: 0.5em 1.25em;
  white-space: nowrap;
  text-decoration: none;
  color: #fff;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background: #1587c3;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

.bookmarklet:hover {
  text-decoration: none;
}

